- style 'base-bundle'
- script 'base-bundle'

!!! 5
%html{:lang => "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

    - styles.each do |style|
      %link{href: root_uri('assets', 'css', "#{style}.css"), rel: "stylesheet"}

    %style{type: "text/css"}
      :sass
        body
          padding-top: 60px
          padding-bottom: 40px

    - scripts.each do |script|
      %script{src: root_uri('assets', 'js', "#{script}.js"), type: "text/javascript"}

    :plain
      <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
      <!--[if lt IE 9]>
        <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
        <script language="javascript" type="text/javascript" src="#{root_uri('assets', 'js', 'html5.min.js')}"></script>
      <![endif]-->
      <!--[if lte IE 8]>
        <script language="javascript" type="text/javascript" src=#{root_uri('assets', 'js', 'excanvas.min.js')}""></script>
      <![endif]-->
    %link{rel: "shortcut icon", href: "favicon.ico"}
    %title= title

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{'data-toggle' => "collapse", 'data-target' => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{href: root_uri}
            DMS
          .nav-collapse
            %ul.nav
              - pages.each do |pg|
                %li{class: pg == page && 'active'}
                  %a{href: root_uri(pg)}
                    = pg.titlecase

    .container
      = content

      %hr
      %footer
        Copyright &copy; 2012 Jakub Pastuszek

